In [21]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/flood_data.csv")
df["Start_Date"] = pd.to_datetime(df["Start_Date"])
df["End_Date"] = pd.to_datetime(df["End_Date"])

date = "End_Date"
df.loc[
    (df[date] >= pd.Timestamp("2024-09-09")) & (df[date] <= pd.Timestamp("2024-09-11"))
]

,Admin3,Admin2,Admin1,Observed_Area_SqKM,Flooded_Area_SqKM,Population_Exposed,Flooded Crop Area,Start_Date,End_Date,Latitude,Longitude
256,Waw,Bago,Bago (East),1012.86,495.08,62814,428.90,2024-07-01,2024-09-09,17.336667,96.479722
257,Nyaunglebin,Bago,Bago (East),802.35,394.09,63925,353.76,2024-07-01,2024-09-09,17.336667,96.479722
258,Daik-U,Bago,Bago (East),1351.13,392.03,49057,353.56,2024-07-01,2024-09-09,17.336667,96.479722
259,Bago,Bago,Bago (East),3121.00,289.26,57139,206.01,2024-07-01,2024-09-09,17.336667,96.479722
260,Thanatpin,Bago,Bago (East),875.40,273.22,34243,241.97,2024-07-01,2024-09-09,17.336667,96.479722
...,...,...,...,...,...,...,...,...,...,...,...
369629,Salingyi,Yinmarbin,Sagaing,56.08,0.07,6,0.07,2024-09-06,2024-09-09,22.077789,94.900139
369630,Kani,Yinmarbin,Sagaing,3826.14,6.52,461,2.58,2024-09-06,2024-09-11,22.077789,94.900139
369631,Pale,Yinmarbin,Sagaing,1844.61,3.65,366,2.64,2024-09-06,2024-09-11,22.077789,94.900139
369632,Yinmarbin,Yinmarbin,Sagaing,901.14,1.44,205,0.70,2024-09-06,2024-09-11,22.077789,94.900139
369633,Salingyi,Yinmarbin,Sagaing,56.08,0.07,6,0.07,2024-09-06,2024-09-11,22.077789,94.900139

,Admin2,2024-07-01 00:00:00,2024-07-02 00:00:00,2024-07-03 00:00:00,2024-07-04 00:00:00,2024-07-05 00:00:00,2024-07-06 00:00:00,2024-07-07 00:00:00,2024-07-08 00:00:00,2024-07-09 00:00:00,...,2024-10-20 00:00:00,2024-10-21 00:00:00,2024-10-22 00:00:00,2024-10-23 00:00:00,2024-10-24 00:00:00,2024-10-25 00:00:00,2024-10-26 00:00:00,2024-10-27 00:00:00,2024-10-28 00:00:00,2024-10-29 00:00:00
0,Bago,275.16,275.16,275.16,275.16,275.16,830.22,830.22,830.22,830.22,...,88871.39,89018.57,89165.75,89165.75,89165.75,90125.83,91085.91,91085.91,91311.13,91536.35
1,Bawlake,1.73,1.73,1.73,1.73,1.73,1.73,1.73,1.73,1.73,...,316.00,316.00,316.00,316.00,316.00,331.16,346.32,346.32,369.17,392.02
2,Bhamo,128.01,128.01,128.01,128.01,128.01,128.01,205.48,282.95,282.95,...,5484.67,5484.67,5484.67,5484.67,5484.67,5612.60,5740.54,5740.54,6068.28,6396.01
3,Danu Self-Administered Zone,9.19,9.19,9.19,9.19,9.19,9.22,9.22,9.22,9.22,...,933.69,933.69,933.69,933.69,933.69,974.96,1016.24,1016.24,1175.03,1333.83
4,Dawei,160.98,209.50,258.03,306.55,355.08,355.08,355.08,355.08,355.08,...,4615.59,4615.59,4615.59,4615.59,4615.59,4615.59,4615.59,4615.59,4732.82,4850.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Yangon (East),0.00,0.00,0.00,0.00,0.00,15.78,15.78,15.78,15.78,...,431.33,434.09,436.84,436.84,436.84,448.40,459.97,459.97,459.97,459.97
76,Yangon (North),0.00,0.00,0.00,0.00,0.00,415.23,415.23,415.23,415.23,...,33774.72,33921.29,34067.86,34067.86,34067.86,34767.57,35467.29,35467.29,35467.29,35467.29
77,Yangon (South),1.02,1.02,1.02,1.02,1.02,678.31,678.31,678.31,678.31,...,18853.24,18949.71,19046.18,19046.18,19046.18,19421.87,19797.56,19797.56,19797.86,19798.17
78,Yangon (West),0.00,0.00,0.00,0.00,0.00,3.51,3.51,3.51,3.51,...,24.41,24.41,24.42,24.42,24.42,24.89,25.36,25.36,25.36,25.36
79,Yinmarbin,0.00,0.00,0.00,0.00,0.00,135.72,135.72,135.72,135.72,...,6786.50,6809.70,6832.89,6893.54,6954.20,6954.20,6954.20,6954.20,6954.20,6954.20